<footer class="site-footer">
  <div class="inner">
    {{ with .Site.Params.copyright }}
      <section class="copyright">{{ . | markdownify }}</section>{{ end }}


    <section>{{ echoParam .Site.Params "hidebyline" }}</section>
    {{ if ne .Site.Params.hidedesignbyline true }}
      <section>
        <a href="https://github.com/charmcity-code" target="_blank"><i class="fa fa-github"></i></a>&nbsp
        Built with ♥️ by
        <a href="https://www.charmcitycode.com/" target="_blank">Charm City Code</a>
      </section>{{ end }}

  </div>
</footer>
